<div class="container">
	<div id="iview">
		<!-- div data-iview:image="/galerie/photos/elephants.jpg" data-iview:transition="fade">
			<div class="iview-caption caption2" data-x="20%" data-y="20%" data-transition="strip-fade" >Eléphants</div>
			<div class="iview-caption blackcaption" data-x="20%" data-y="35%" data-transition="wipeLeft" data-easing="easeInOutElastic" >par Alain</div>
			<div class="iview-caption caption5" data-x="20%" data-y="75%" data-transition="wipeLeft" data-easing="easeInOutElastic" ><a href="http://wiki.fablab-lannion.org/index.php?title=Chaine_logicielle_pour_d%C3%A9coupeuse_laser">Comment dessiner un objet pour la découpe laser ?</a></div>
		</div -->
		<!-- div data-iview:image="/galerie/photos/arbre.jpg" data-iview:transition="fade">
			<div class="iview-caption caption2" data-x="20%" data-y="20%" data-transition="strip-fade" >Arbre à bijoux</div>
			<div class="iview-caption blackcaption" data-x="20%" data-y="35%" data-transition="wipeLeft" data-easing="easeInOutElastic" >par Yann</div>
			<div class="iview-caption caption5" data-x="20%" data-y="75%" data-transition="wipeLeft" data-easing="easeInOutElastic" ><a href="http://wiki.fablab-lannion.org/index.php?title=Arbre_%C3%A0_bijoux">Envie de faire le même ?</a></div>
		</div -->
		<div data-iview:image="/galerie/photos/borne2.jpg"  data-iview:transition="slice-top-fade,slice-right-fade" data-iview:pausetime="5000">
			<div class="iview-caption caption2" data-x="20%" data-y="20%" data-transition="strip-fade" >Borne d'arcade</div>
			<div class="iview-caption blackcaption"data-x="20%" data-y="35%" data-transition="wipeLeft" data-easing="easeInOutElastic" >par Jérôme</div>
			<div class="iview-caption caption5 " data-x="20%" data-y="75%" data-transition="wipeLeft" data-easing="easeInOutElastic" ><a href="http://wiki.fablab-lannion.org/index.php?title=Borne_d%27arcade">Fabriquez votre propre borne d'arcade !</a></div>
		</div>
		<!--div data-iview:image="/galerie/photos/sous-bocs.jpg" data-iview:transition="fade">
			<div class="iview-caption caption2" data-x="20%" data-y="20%" data-transition="fade" >Sous-bocks</div>
			<div class="iview-caption caption5" data-x="20%" data-y="75%" data-transition="wipeLeft" data-easing="easeInOutElastic" ><a href="http://wiki.fablab-lannion.org/index.php?title=Chaine_logicielle_pour_d%C3%A9coupeuse_laser">Comment dessiner un objet pour la découpe laser ?</a></div>
		</div-->
		<div data-iview:image="/galerie/photos/theatre.jpg"  data-iview:transition="fade" data-iview:pausetime="4000">
			<div class="iview-caption caption3" data-x="500" data-y="100" data-transition="fade">Maquette de Théâtre</div>
			<div class="iview-caption blackcaption" data-x="600" data-y="200" data-transition="wipeLeft" data-easing="easeInOutElastic" >par Agata</div>
			<div class="iview-caption blackcaption" data-x="650" data-y="250" data-transition="wipeLeft" data-easing="easeInOutElastic" ><a href="http://wiki.fablab-lannion.org/index.php?title=Maquette_Sc%C3%A8ne_de_Th%C3%A9%C3%A2tre">Pour en savoir plus</a></div>
		</div>

		<!-- div data-iview:image="/galerie/photos/horloge.jpg" data-iview:transition="fade" data-iview:pausetime="3000">
			<div class="iview-caption caption5" data-x="500" data-y="100" data-transition="fade">Horloge</div>
			<div class="iview-caption blackcaption" data-x="600" data-y="200" data-transition="wipeLeft" data-easing="easeInOutElastic" >par David</div>
		</div -->
		<!--div data-iview:image="/galerie/photos/carte.jpg" data-iview:transition="slice-top-fade,slice-right-fade" data-iview:pausetime="5000">
			<div class="iview-caption caption1" data-x="600" data-y="280" data-transition="strip-fade">Carte 3D</div>
			<div class="iview-caption blackcaption" data-x="50" data-y="135" data-transition="wipeLeft" data-easing="easeInOutElastic" >par Brelevenix</div>
			<div class="iview-caption blackcaption" data-x="60" data-y="172" data-transition="wipeLeft" data-easing="easeInOutElastic" ><a href="https://openstreetmap.fr/">OSM</a></div>
			<div class="iview-caption blackcaption" data-x="70" data-y="209" data-transition="wipeLeft" data-easing="easeInOutElastic" >Lannion</div>
		</div-->
		<!-- div data-iview:image="/galerie/photos/console.jpg" data-iview:transition="slice-top-fade,slice-right-fade">
			<div class="iview-caption caption5" data-x="600" data-y="280" data-transition="strip-fade" >Console Charly</div>
			<div class="iview-caption blackcaption" data-x="50" data-y="135" data-transition="wipeLeft" data-easing="easeInOutElastic" >par Théo</div>
		</div-->
		<!-- div data-iview:image="/galerie/photos/miroir.jpg" data-iview:transition="slice-top-fade,slice-right-fade">
			<div class="iview-caption caption1" data-x="600" data-y="280" data-transition="strip-fade">Miroir</div>
			<div class="iview-caption blackcaption" data-x="50" data-y="135" data-transition="wipeLeft" data-easing="easeInOutElastic" >par David</div>
		</div -->
		<div data-iview:image="/galerie/photos/kart.jpg"  data-iview:transition="slice-top-fade,slice-right-fade">
			<div class="iview-caption caption3" data-x="600" data-y="280" data-transition="strip-fade">Kart DIY</div>
			<div class="iview-caption blackcaption" data-x="50" data-y="135" data-transition="wipeLeft" data-easing="easeInOutElastic" >par Daniel, Anatole, Fred  & Yannick    </div>
			<div class="iview-caption blackcaption" data-x="50" data-y="172" data-transition="wipeLeft" data-easing="easeInOutElastic" >MakeRrrrrrrrrrr race</div>
		</div>
		<!-- div data-iview:image="/galerie/photos/boite.jpg" data-iview:thumbnail="/galerie/photos/boite.thumb.png" data-iview:transition="slice-top-fade,slice-right-fade">
			<div class="iview-caption caption2" data-x="600" data-y="280" data-transition="strip-fade">Boîte</div>
			<div class="iview-caption blackcaption" data-x="50" data-y="135" data-transition="wipeLeft" data-easing="easeInOutElastic" >par David</div>
			<div class="iview-caption blackcaption" data-x="60" data-y="172" data-transition="wipeLeft" data-easing="easeInOutElastic">Marqueterie</div>
		</div-->
		<div data-iview:image="/galerie/photos/nichoir2.jpg"  data-iview:transition="slice-top-fade,slice-right-fade">
				<div class="iview-caption caption2" data-x="600" data-y="280" data-transition="strip-fade">Nichoir</div>
				<div class="iview-caption blackcaption" data-x="50" data-y="135" data-transition="wipeLeft" data-easing="easeInOutElastic">avec la Fondation Orange</div>
				<div class="iview-caption blackcaption" data-x="50" data-y="135" data-transition="wipeLeft" data-easing="easeInOutElastic" >Atelier Junior</div>
		</div>

		<!-- div data-iview:image="/galerie/photos/puzzle.jpg" data-iview:transition="slice-top-fade,slice-right-fade">
				<div class="iview-caption caption5" data-x="600" data-y="280" data-transition="strip-fade">Puzzle Trégor</div>
				<div class="iview-caption blackcaption" data-x="70" data-y="135" data-transition="wipeLeft" data-easing="easeInOutElastic" >par Brelevenix</div>
				<div class="iview-caption blackcaption" data-x="80" data-y="172" data-transition="wipeLeft" data-easing="easeInOutElastic">OSM</div>
		</div-->
		<!-- div data-iview:image="/galerie/photos/vinyl.jpg" data-iview:thumbnail="/galerie/photos/vinyl.thumb.png" data-iview:transition="slice-top-fade,slice-right-fade">
				<div class="iview-caption caption1" data-x="600" data-y="280" data-transition="strip-fade">Disque déco</div>
				<div class="iview-caption blackcaption" data-x="50" data-y="135" data-transition="wipeLeft" data-easing="easeInOutElastic" >par David</div>
		</div-->
		<div data-iview:image="/galerie/photos/ruches.jpg"  data-iview:transition="slice-top-fade,slice-right-fade" data-iview:pausetime="5000">
			<div class="iview-caption caption3" data-x="200" data-y="180" data-transition="strip-fade">Ruches connectées</div>
			<div class="iview-caption blackcaption" data-x="50" data-y="135" data-transition="wipeLeft" data-easing="easeInOutElastic" >par Bernard</div>
			<div class="iview-caption blackcaption" data-x="60" data-y="172" data-transition="wipeLeft" data-easing="easeInOutElastic">LoRa</div>
			<div class="iview-caption blackcaption" data-x="70" data-y="209" data-transition="wipeLeft" data-easing="easeInOutElastic">IoT</div>
			<div class="iview-caption blackcaption" data-x="80" data-y="250" data-transition="wipeLeft" data-easing="easeInOutElastic" ><a href="http://wiki.fablab-lannion.org/index.php?title=Suivi_des_ruches">Pour en savoir plus</a></div>
		</div>
		<div data-iview:image="/galerie/photos/macareux.jpg"  data-iview:transition="slice-top-fade,slice-right-fade">
			<div class="iview-caption caption5" data-x="300" data-y="280" data-transition="strip-fade" >Compteurs de macareux</div>
			<div class="iview-caption blackcaption" data-x="50" data-y="135" data-transition="wipeLeft" data-easing="easeInOutElastic" >par Anatole & FX     </div>
			<div class="iview-caption blackcaption" data-x="60" data-y="172" data-transition="wipeLeft" data-easing="easeInOutElastic">LoRa</div>
			<div class="iview-caption blackcaption" data-x="70" data-y="209" data-transition="wipeLeft" data-easing="easeInOutElastic">LPO</div>
		</div>
		<!-- div data-iview:image="/galerie/photos/trender.jpg" data-iview:thumbnail="/galerie/photos/trender.thumb.jpg" data-iview:transition="slice-top-fade,slice-right-fade" data-iview:pausetime="5000">
			<div class="iview-caption caption2" data-x="20%" data-y="20%" data-transition="strip-fade">Trender</div>
			<div class="iview-caption blackcaption" data-x="50" data-y="135" data-transition="wipeLeft" data-easing="easeInOutElastic" >#IoT</div>
			<div class="iview-caption blackcaption" data-x="60" data-y="172" data-transition="wipeLeft" data-easing="easeInOutElastic" ><a href="http://wiki.fablab-lannion.org/index.php?title=Trender">Pour en savoir plus</a></div>
		</div -->
		<!-- div data-iview:image="/galerie/photos/radar.jpg" data-iview:transition="slice-top-fade,slice-right-fade">
			<div class="iview-caption caption5" data-x="550" data-y="280" data-transition="strip-fade">Radar de recul</div>
			<div class="iview-caption blackcaption" data-x="50" data-y="135" data-transition="wipeLeft" data-easing="easeInOutElastic">Tuto arduino</div>
		</div>
		<div data-iview:image="/galerie/photos/cache-pot.jpg" data-iview:transition="fade" data-iview:pausetime="3000">
			<div class="iview-caption caption3" data-x="500" data-y="100" data-transition="fade" >Cache pot</div>
			<div class="iview-caption blackcaption" data-x="600" data-y="200" data-transition="wipeLeft" data-easing="easeInOutElastic" >par David</div>
		</div -->

		<!--div data-iview:image="/galerie/photos/godille.jpg" data-iview:transition="slice-top-fade,slice-right-fade">
			<div class="iview-caption caption2" data-x="550" data-y="280" data-transition="strip-fade" >Maquette godille</div>
			<div class="iview-caption blackcaption" data-x="50" data-y="135" data-transition="wipeLeft" data-easing="easeInOutElastic" >Par Alain</div>
		</div-->

		<!-- div data-iview:image="/galerie/photos/atelier.jpg" data-iview:transition="slice-top-fade,slice-right-fade">
			<div class="iview-caption" data-x="600" data-y="280" data-transition="strip-fade" >Atelier Junior</div>
			<div class="iview-caption blackcaption" data-x="50" data-y="135" data-transition="wipeLeft" data-easing="easeInOutElastic">avec la Fondation Orange</div>
		</div -->

		<!-- div data-iview:image="/galerie/photos/bob.jpg" data-iview:type="video" data-iview:transition="slice-top-fade,slice-right-fade">
			<iframe src="https://www.youtube.com/watch?v=YbgazifRcj4" width="100%" height="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			<div class="iview-caption caption3" data-x="600" data-y="345" data-transition="wipeLeft">Bob le bipède</div>
		</div -->
		<!-- div data-iview:image="/galerie/photos/abeille.jpg" data-iview:transition="slice-top-fade,slice-right-fade">
			<div class="iview-caption caption2" data-x="550" data-y="280" data-transition="strip-fade" >Abeille</div>
			<div class="iview-caption blackcaption" data-x="50" data-y="135" data-transition="wipeLeft" data-easing="easeInOutElastic" >Par Alain</div>
		</div -->
		<!-- div data-iview:image="/galerie/photos/porte-clés.jpg" data-iview:transition="slice-top-fade,slice-right-fade">
			<div class="iview-caption caption5" data-x="550" data-y="280" data-transition="strip-fade" >Porte-clés</div>
			<div class="iview-caption blackcaption" data-x="50" data-y="135" data-transition="wipeLeft" data-easing="easeInOutElastic">Par Colvert</div>
		</div -->
	</div>
</div>