<style>
   .image-gallery-container {
        display: flex;
        flex-wrap: wrap;
        margin: 30px 5px;
        font-size: 1.125rem;
        max-width: 960px;
        margin-right: auto;
        margin-left: auto;
    }

    .image-gallery-container .box {
        width: 19%;
        background-color: white;
        margin: 5px 5px 25px 5px;
        /*** Just to center the text ***/
        flex: 1 0 auto;
        flex-direction: column;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }

    .image-gallery-container .box div a {
        text-align: center;
        text-decoration: none !important;
        color: #777;
    }

    .image-gallery-container .box div a img {
        width: 167px;
    }

    @media(max-width:576px) {
        .image-gallery-container .box {
            align-items: center;
            width: 33%;
        }

        .image-gallery-container .box div a img {
            width: 100%;
        }
    }
</style>

<div class="image-gallery-container">
    {% for file in site.static_files %}
    {% if file.path contains include.folder %}
    <!-- file.path = {{ file.path }}, file.extname = {{ file.extname }}  -->
    {% if file.extname == '.jpg' or
    file.extname == '.jpeg' or
    file.extname == '.JPG' or
    file.extname == '.JPEG' or
    file.extname == '.png' %}
    <!-- fichier filtré: {{ file.path }} -->

    {% assign filenameparts = file.path | split: "/" %}
    {% assign filename = filenameparts | last | replace: file.extname,"" %}

    {% comment %}Note that the images are being resized and served by images.weserv.nl.{% endcomment %}
    {% if site.data.galerie %}

    {% capture picture_name %}{{ file.name }}{% endcapture %}
    {% assign picture_name_data = site.data.galerie | where: "picture", picture_name | first %}
    {% capture picture_title %}{{ picture_name_data.title | default: picture_name }}{% endcapture %}

    {% comment %}{% if picture_name_data %}
    {% capture picture_title %}{{ picture_name_data.title | default: picture_name }}{% endcapture %}
    {% endif %}{% endcomment %}

    {% endif %}

    <div class="box">
        <div><a href="{% if picture_name_data.url %}{{ picture_name_data.url }}{% else %}{{ file.path | relative_url }}{% endif %}"
                title="{{ picture_title }}">
                <img src="{{ include.folder }}/../thumbs/{{file.name }}" alt="{{ picture_title }}"
                    title="{{ picture_title }}" />
            </a></div>
        <div><a href="{% if picture_name_data.url %}{{ picture_name_data.url }}{% else %}{{ file.path | relative_url }}{% endif %}"
                title="{{ picture_title }}">{{ picture_title }}</a></div>
        {% if picture_name_data.subtitle %}<div>{{ picture_name_data.subtitle }}</div>
        {% if picture_name_data.tags %}
        <div>{{ picture_name_data.tags }}</div>
        {% endif %}
        {% elsif picture_name_data.tags %}
        <div>{{ picture_name_data.tags }}</div>
        {% endif %}

    </div>

    {% endif %}
    {% endif %}
    {% endfor %}
</div>