<!DOCTYPE html>
<html>
<head>
{% include head.html %}
		<link rel="stylesheet" href="/galerie/css/styles.css" />
		<link rel="stylesheet" href="/galerie/css/iview.css" />
		<link rel="stylesheet" href="/galerie/css/skin 1/style.css" />
</head>
<body class="home-template" itemscope itemtype="http://schema.org/WebPage">
<header class="notepad-site-head">
    <div class="notepad-site-head-menu">
        <a class="notepad-blog-logo" href="{{ site.url }}"><img src="{{ site.url }}/images/{{ site.logo }}" alt="Blog Logo" /></a>


        <div class="notepad-blog-menu">
    <div class="notepad-mobile-menu show-for-small">
        <a href="#"><i class="fa fa-bars"></i></a>
    </div>
    <ul class="notepad-menu">
        <li class="notepad-mobile-close-btn show-for-small text-right">
            <a href="#"><i class="fa fa-times"></i></a>
        </li>
{% for link in site.links %}
            <li>{% if link.external %}
            <a href="{{ link.url }}">{{ link.title }}</a>
            {% else %}
            <a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
            {% endif %} </li>
{% endfor %}
           <li><a href="{{ site.url }}/feed.xml" title="Atom/RSS feed"><i class="icon-rss"></i> Flux</a></li>
    </ul>
</div>
        <div class="clearfix"></div>
    </div>
    <div class="notepad-site-head-content" style="display:none" >
        <div class="notepad-site-head-bg"></div>
        <h1 class="notepad-blog-title">
            <span class="notepad-site-head-title-bg">
                {{ site.title }}
            </span>
        </h1>
        <h2 class="notepad-blog-description">{{ site.description }}</h2>
    </div>
</header>

	<div class="container">
		<div id="iview">

			<div data-iview:image="/galerie/photos/elephants.jpg" data-iview:transition="fade">
				<div class="iview-caption caption5" data-x="600" data-y="280" data-transition="strip-fade" >Eléphants</div>
				<div class="iview-caption blackcaption" data-x="50" data-y="135" data-transition="wipeLeft" data-easing="easeInOutElastic" >par Alain</div>
			</div>

			<div data-iview:image="/galerie/photos/arbre.jpg" data-iview:transition="fade">
				<div class="iview-caption caption2" data-x="500" data-y="280" data-transition="strip-fade" >Arbre à bijoux</div>
				<div class="iview-caption blackcaption" data-x="50" data-y="135" data-transition="wipeLeft" data-easing="easeInOutElastic" >par Yann</div>
			</div>

			<div data-iview:image="/galerie/photos/borne2.jpg" data-iview:transition="slice-top-fade,slice-right-fade" data-iview:pausetime="5000">
				<div class="iview-caption caption5" data-x="600" data-y="280" data-transition="strip-fade" >Borne d'arcade</div>
				<div class="iview-caption blackcaption" data-x="50" data-y="135" data-transition="wipeLeft" data-easing="easeInOutElastic" >par Jérôme</div>
				<div class="iview-caption blackcaption" data-x="55" data-y="172" data-transition="wipeLeft" data-easing="easeInOutElastic" >recalbox</div>
				<div class="iview-caption blackcaption" data-x="60" data-y="209" data-transition="wipeLeft" data-easing="easeInOutElastic" >Retrogaming</div>
				<div class="iview-caption blackcaption" data-x="65" data-y="250" data-transition="wipeLeft" data-easing="easeInOutElastic" ><a href="http://wiki.fablab-lannion.org/index.php?title=Borne_d%27arcade">En savoir plus</a></div>
			</div>

			<div data-iview:image="/galerie/photos/sous-bocs.png" data-iview:transition="fade">
				<div class="iview-caption caption5" data-x="650" data-y="320" data-transition="fade" >Sous-bocs</div>
			</div>

			<div data-iview:image="/galerie/photos/trender.png" data-iview:transition="slice-top-fade,slice-right-fade" data-iview:pausetime="5000">
				<div class="iview-caption caption2" data-x="650" data-y="280" data-transition="strip-fade">Trender</div>
				<div class="iview-caption blackcaption" data-x="50" data-y="135" data-transition="wipeLeft" data-easing="easeInOutElastic" >#IoT</div>
				<div class="iview-caption blackcaption" data-x="60" data-y="172" data-transition="wipeLeft" data-easing="easeInOutElastic" ><a href="http://wiki.fablab-lannion.org/index.php?title=Trender">Pour en savoir plus</a></div>
			</div>

			<div data-iview:image="/galerie/photos/theatre.jpg" data-iview:transition="fade" data-iview:pausetime="4000">
				<div class="iview-caption caption3" data-x="500" data-y="100" data-transition="fade">Maquette de Théâtre</div>
				<div class="iview-caption blackcaption" data-x="600" data-y="200" data-transition="wipeLeft" data-easing="easeInOutElastic" >par Agata</div>
				<div class="iview-caption blackcaption" data-x="650" data-y="250" data-transition="wipeLeft" data-easing="easeInOutElastic" ><a href="http://wiki.fablab-lannion.org/index.php?title=Maquette_Sc%C3%A8ne_de_Th%C3%A9%C3%A2tre">Pour en savoir plus</a></div>
			</div>

			<div data-iview:image="/galerie/photos/horloge.png" data-iview:transition="fade" data-iview:pausetime="3000">
				<div class="iview-caption caption5" data-x="500" data-y="100" data-transition="fade">Horloge</div>
				<div class="iview-caption blackcaption" data-x="600" data-y="200" data-transition="wipeLeft" data-easing="easeInOutElastic" >par David</div>
			</div>

			<div data-iview:image="/galerie/photos/carte.png" data-iview:transition="slice-top-fade,slice-right-fade" data-iview:pausetime="5000">
				<div class="iview-caption caption1" data-x="600" data-y="280" data-transition="strip-fade">Carte 3D</div>
				<div class="iview-caption blackcaption" data-x="50" data-y="135" data-transition="wipeLeft" data-easing="easeInOutElastic" >par Brelevenix</div>
				<div class="iview-caption blackcaption" data-x="60" data-y="172" data-transition="wipeLeft" data-easing="easeInOutElastic" ><a href="https://openstreetmap.fr/">OSM</a></div>
				<div class="iview-caption blackcaption" data-x="70" data-y="209" data-transition="wipeLeft" data-easing="easeInOutElastic" >Lannion</div>
			</div>

			<div data-iview:image="/galerie/photos/console.jpg" data-iview:transition="slice-top-fade,slice-right-fade">
				<div class="iview-caption caption5" data-x="600" data-y="280" data-transition="strip-fade" >Console Charly</div>
				<div class="iview-caption blackcaption" data-x="50" data-y="135" data-transition="wipeLeft" data-easing="easeInOutElastic" >par Théo</div>
	  	</div>


    	<div data-iview:image="/galerie/photos/miroir.png" data-iview:transition="slice-top-fade,slice-right-fade">
				<div class="iview-caption caption1" data-x="600" data-y="280" data-transition="strip-fade">Miroir</div>
				<div class="iview-caption blackcaption" data-x="50" data-y="135" data-transition="wipeLeft" data-easing="easeInOutElastic" >par David</div>
	  	</div>

    	<div data-iview:image="/galerie/photos/nichoir2.jpg" data-iview:transition="slice-top-fade,slice-right-fade">
				<div class="iview-caption caption2" data-x="600" data-y="280" data-transition="strip-fade">Nichoir</div>
				<div class="iview-caption blackcaption" data-x="50" data-y="135" data-transition="wipeLeft" data-easing="easeInOutElastic" >Atelier Junior</div>
    	</div>

    	<div data-iview:image="/galerie/photos/puzzle.png" data-iview:transition="slice-top-fade,slice-right-fade">
				<div class="iview-caption caption5" data-x="600" data-y="280" data-transition="strip-fade">Puzzle Trégor</div>
				<div class="iview-caption blackcaption" data-x="70" data-y="135" data-transition="wipeLeft" data-easing="easeInOutElastic" >par Brelevenix</div>
				<div class="iview-caption blackcaption" data-x="80" data-y="172" data-transition="wipeLeft" data-easing="easeInOutElastic">OSM</div>
    	</div>

    	<div data-iview:image="/galerie/photos/vinyl.png" data-iview:transition="slice-top-fade,slice-right-fade">
				<div class="iview-caption caption1" data-x="600" data-y="280" data-transition="strip-fade">Disque déco</div>
				<div class="iview-caption blackcaption" data-x="50" data-y="135" data-transition="wipeLeft" data-easing="easeInOutElastic" >par David</div>
    	</div>

			<div data-iview:image="/galerie/photos/ruches.jpg" data-iview:transition="slice-top-fade,slice-right-fade" data-iview:pausetime="5000">
				<div class="iview-caption caption3" data-x="200" data-y="180" data-transition="strip-fade">Ruches connectées</div>
				<div class="iview-caption blackcaption" data-x="50" data-y="135" data-transition="wipeLeft" data-easing="easeInOutElastic" >par Bernard</div>
				<div class="iview-caption blackcaption" data-x="60" data-y="172" data-transition="wipeLeft" data-easing="easeInOutElastic">LoRa</div>
				<div class="iview-caption blackcaption" data-x="70" data-y="209" data-transition="wipeLeft" data-easing="easeInOutElastic">IoT</div>
				<div class="iview-caption blackcaption" data-x="80" data-y="250" data-transition="wipeLeft" data-easing="easeInOutElastic" ><a href="http://wiki.fablab-lannion.org/index.php?title=Suivi_des_ruches">Pour en savoir plus</a></div>
    	</div>

			<div data-iview:image="/galerie/photos/radar.png" data-iview:transition="slice-top-fade,slice-right-fade">
				<div class="iview-caption caption5" data-x="550" data-y="280" data-transition="strip-fade">Radar de recul</div>
				<div class="iview-caption blackcaption" data-x="50" data-y="135" data-transition="wipeLeft" data-easing="easeInOutElastic">Tuto arduino</div>
    	</div>

			<div data-iview:image="/galerie/photos/cache-pot.png" data-iview:transition="fade" data-iview:pausetime="3000">
				<div class="iview-caption caption3" data-x="500" data-y="100" data-transition="fade" >Cache pot</div>
				<div class="iview-caption blackcaption" data-x="600" data-y="200" data-transition="wipeLeft" data-easing="easeInOutElastic" >par David</div>
			</div>


			<div data-iview:image="/galerie/photos/macareux.jpg" data-iview:transition="slice-top-fade,slice-right-fade">
				<div class="iview-caption caption5" data-x="300" data-y="280" data-transition="strip-fade" >Compteurs de macareux</div>
				<div class="iview-caption blackcaption" data-x="50" data-y="135" data-transition="wipeLeft" data-easing="easeInOutElastic" >par Anatole & FX     </div>
				<div class="iview-caption blackcaption" data-x="60" data-y="172" data-transition="wipeLeft" data-easing="easeInOutElastic">LoRa</div>
				<div class="iview-caption blackcaption" data-x="70" data-y="209" data-transition="wipeLeft" data-easing="easeInOutElastic">LPO</div>
    	</div>

			<div data-iview:image="/galerie/photos/godille.jpg" data-iview:transition="slice-top-fade,slice-right-fade">
				<div class="iview-caption caption2" data-x="550" data-y="280" data-transition="strip-fade" >Maquette godille</div>
				<div class="iview-caption blackcaption" data-x="50" data-y="135" data-transition="wipeLeft" data-easing="easeInOutElastic" >Par Alain</div>
    	</div>

			<div data-iview:image="/galerie/photos/kart.jpg" data-iview:transition="slice-top-fade,slice-right-fade">
				<div class="iview-caption caption3" data-x="600" data-y="280" data-transition="strip-fade">Kart DIY</div>
				<div class="iview-caption blackcaption" data-x="50" data-y="135" data-transition="wipeLeft" data-easing="easeInOutElastic" >par Daniel, Anatole, Fred  & Yannick    </div>
				<div class="iview-caption blackcaption" data-x="50" data-y="172" data-transition="wipeLeft" data-easing="easeInOutElastic" >MakeRrrrrrrrrrr race</div>
    	</div>

			<div data-iview:image="/galerie/photos/atelier.png" data-iview:transition="slice-top-fade,slice-right-fade">
				<div class="iview-caption" data-x="600" data-y="280" data-transition="strip-fade" data-width="100">Atelier Junior</div>
				<div class="iview-caption blackcaption" data-x="50" data-y="135" data-transition="wipeLeft" data-easing="easeInOutElastic" data-width="20%">avec la Fondation Orange</div>
    	</div>

			<div data-iview:image="/galerie/photos/boite.png" data-iview:transition="slice-top-fade,slice-right-fade">
				<div class="iview-caption caption2" data-x="600" data-y="280" data-transition="strip-fade">Boîte</div>
				<div class="iview-caption blackcaption" data-x="50" data-y="135" data-transition="wipeLeft" data-easing="easeInOutElastic" data-width="20%">par David</div>
				<div class="iview-caption blackcaption" data-x="60" data-y="172" data-transition="wipeLeft" data-easing="easeInOutElastic">Marqueterie</div>
	  	</div>

    	<div data-iview:image="/galerie/photos/bob.png" data-iview:type="video" data-iview:transition="slice-top-fade,slice-right-fade">
    		<iframe src="https://www.youtube.com/watch?v=YbgazifRcj4" width="100%" height="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    		<div class="iview-caption caption3" data-x="600" data-y="345" data-transition="wipeLeft">Bob le bipède</div>
    	</div>

			<div data-iview:image="/galerie/photos/abeille.jpg" data-iview:transition="slice-top-fade,slice-right-fade">
				<div class="iview-caption caption2" data-x="550" data-y="280" data-transition="strip-fade" data-width="300">Abeille</div>
				<div class="iview-caption blackcaption" data-x="50" data-y="135" data-transition="wipeLeft" data-easing="easeInOutElastic" data-width="20%">Par Alain</div>
    	</div>

			<div data-iview:image="/galerie/photos/porte-clés.jpg" data-iview:transition="slice-top-fade,slice-right-fade">
				<div class="iview-caption caption5" data-x="550" data-y="280" data-transition="strip-fade" data-width="20%">Porte-clés</div>
				<div class="iview-caption blackcaption" data-x="50" data-y="135" data-transition="wipeLeft" data-easing="easeInOutElastic">Par Colvert</div>
    	</div>
-->
</div>
</div>

<main class="notepad-content" role="main">

            {{ content }}
</main>
    {% include footer.html %}

{% include scripts.html %}
		<script type="text/javascript" src="/galerie/js/raphael-min.js"></script>
		<script type="text/javascript" src="/galerie/js/jquery.easing.js"></script>
		<script src="/galerie/js/iview.js"></script>
		<script>
			$(document).ready(function(){
				$('#iview').iView({
					pauseTime: 3000,
					directionNav: false,
					controlNav: true,
					tooltipY: -15
				});
			});
		</script>
</body>
</html>
