<div class='header'>
  <div class="container">
    <div class="logo">
      <a href="{{ site.url }}"><img width="{{ site.logo.desktop_width }}" height="{{ site.logo.desktop_height }}"
          alt="{{ site.title }} logo" src="{{ site.url }}/images/{{ site.logo.path }}" /></a>
    </div>
    <div class="logo-mobile">
      <a href="{{ site.url }}"><img width="{{ site.logo.mobile_width }}" height="{{ site.logo.mobile_height }}"
          alt="{{ site.title }}" src="{{ site.url }}/images/{{ site.logo.path }}" /></a>
    </div>
    {% include home/main-menu-home.html %}
    {% include home/hamburger-home.html %}
  </div>
</div>