{% if site.data.hours %}
  {% assign has_message = false %}
  {% for hour in site.data.hours %}
    {% if hour.message %}
      {% assign has_message = true %}
      <div class="infos-day infos-message">{{ hour.message }}</div>
    {% elsif hour.day and hour.hours %}
      <div class="infos-day"><strong>{{ hour.day }}: </strong>{{ hour.hours }}</div>
    {% endif %}
  {% endfor %}
{% endif %}

{% unless has_message %}
  <div class="infos-day">À la demande, avec la présence d'un FabManager</div>
{% endunless %}
